
input:focus {
    border: 2px solid lightblue;
    outline: none;
    box-shadow: 3px 3px 3px rgb(0,0,0, .3);
}

a:link, a, a:visited{
    color: white;
}

#FullPage {
    background-color: black;
    height: 100vh;
    display: flex;
    padding: 40px 0 40px 0;
}

#WholePage {
    display: flex;
    padding: 0 40vh 0 40vh;
    flex: 1;
}

.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(efe-kurnaz-RnCPiXixooY-unsplash.jpg);
    background-size: cover;
}

.topfiller {
    flex: 5;
}

.logocontainer {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    color: white;
    font-size: 90px;
    max-height: 40%;
    align-items: center;
    justify-content: center;
    background-color: rgb(0,0,0, .3);
    object-fit: contain;
    min-width: 100%;
    
}

.logo {
    display: flex;
    flex: 1 0;
    align-items: flex-end;
    justify-content: flex-end;
}

.logo img {
    flex: 1 0;
    max-width: 100px;
    max-width: 100px;
    object-fit: contain;
    min-width: none;
    min-height: none;
    padding-top: 10px;
}

.logotext {
    flex: 2 0;
    display: inline-block;
    padding: 0 25px 0 0;
    text-align: left;
    display: inline;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.right-side {
    flex: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 600px;
}

.right-top {
    flex: 1;
    font-size: larger;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
    padding: 0px 50px 50px 40px;
}

.right-middle {
    flex: 1;
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 2px 3px 3px rgb(0,0,0, .2);
}

.right-bottom {
    flex: 1;
    padding: 30px 0 0 40px;
}

.form-title {
    flex: 1;
    padding: 30px 0 0px 40px;
    font-size: x-large;
    margin: auto 0 auto 0;

}

.form-content {
    flex: 1;
    display: flex;
    padding: 0 0 20px 0;
}

.left-column {
    flex: 1;
}

.right-column {
    flex: 2;
    padding-left: 60px;
}


ul {
    list-style-type: none;
}

input {
    margin-bottom: 15px;
    margin-top: 1px;

}


.asap-text {
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


button {
    border-radius: 8px;
    background-color: palevioletred;
    color: white;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 550;
    border-color: white;
    border-width: 2px;

}


.photocredit {
    flex: 5;
    display: flex;
    color: white;
    align-items: end;

}